:root{
    --color_palette_1: #FF9900; /*Orange vitamine C*/
    --color_palette_2: #222222; /*Dark Grey route 66*/
    --color_palette_3: #BCBCBC; /*Grey BC*/
    --color_palette_4: #E9E9E9; /*Light Grey steady grey*/
    --color_palette_5: #008cba; /*Blue gamebookers blue*/
    /*source: http://www.colourlovers.com/palette/148712/Gamebookers*/
}