<button class="btn btn-xs" ng-click="changeCss('bootstrap.css')"><i class="fa fa-tint"></i>Default</button>
<button class="btn btn-xs" ng-click="changeCss('cerulean.min.css')"><i class="fa fa-tint"></i>Cerulean</button>
<!--<button class="btn btn-xs" ng-click="changeCss('cosmo.min.css')"><i class="fa fa-tint" ></i>Cosmo</button>
<button class="btn btn-xs" ng-click="changeCss('cyborg.min.css')"><i class="fa fa-tint" ></i>Cyborg</button>
<button class="btn btn-xs" ng-click="changeCss('darkly.min.css')"><i class="fa fa-tint"></i>Darkly</button>
<button class="btn btn-xs" ng-click="changeCss('flatly.min.css')"><i class="fa fa-tint" ></i>Flatly</button>
<button class="btn btn-xs" ng-click="changeCss('journal.min.css')"><i class="fa fa-tint" ></i>journal</button>
<button class="btn btn-xs" ng-click="changeCss('lumen.min.css')"><i class="fa fa-tint"></i>lumen</button>
<button class="btn btn-xs" ng-click="changeCss('paper.min.css')"><i class="fa fa-tint" ></i>Paper</button>
<button class="btn btn-xs" ng-click="changeCss('readable.min.css')"><i class="fa fa-tint" ></i>Readable</button>
<button class="btn btn-xs" ng-click="changeCss('sandstone.min.css')"><i class="fa fa-tint"></i>Sandstone</button>
<button class="btn btn-xs" ng-click="changeCss('simplex.min.css')"><i class="fa fa-tint" ></i>Simplex</button>
<button class="btn btn-xs" ng-click="changeCss('slate.min.css')"><i class="fa fa-tint" ></i>Slate</button>
<button class="btn btn-xs" ng-click="changeCss('spacelab.min.css')"><i class="fa fa-tint" ></i>Spacelab</button>
<button class="btn btn-xs" ng-click="changeCss('superhero.min.css')"><i class="fa fa-tint"></i>Superhero</button>
<button class="btn btn-xs" ng-click="changeCss('united.min.css')"><i class="fa fa-tint" ></i>United</button>-->